<!DOCTYPE html>
<html lang="en">
<head>
  <title>contactbooster/backboneJS</title>
  <meta charset="UTF-8">
  <meta name=description content="">
  <meta name=viewport content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="http://netdna.bootstrapcdn.com/bootswatch/3.1.1/cosmo/bootstrap.min.css" rel="stylesheet">
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

  <link rel="stylesheet" href="stylesheets/app.css">
</head>
<body>
  <div class='container'>
    <h1 class='testLol'> contactbooster/backbone </h1>
    <div id="app">

    </div>
  </div>
</body>

<script type='text/template' id='add-contact'>
  <button type="button" class="btn btn-sm btn-block btn-primary toggle">
    <i class="fa fa-plus"></i> <span>Add contact</span>
  </button>

  <form class="add-contact-container"  style='margin-top:10px;display:none'>
      <div class="row">
        <div class="col-xs-4">
          <input class='form-control' type="text" name='firstname' placeholder='firstname' value='<%= firstname %>' />
          <div class='error-input error-firstname'>Hey</div>
        </div>
        <div class="col-xs-4">
          <input class='form-control' type="text" name='lastname' placeholder='lastname' value='<%= lastname %>' />
          <div class='error-input error-lastname'>Hey</div>
        </div>
        <div class="col-xs-4">
          <input class='form-control' type="text" name='phone' placeholder='phone #' value='<%= phone  %>' />
          <div class='error-input error-phone'>Hey</div>
        </div>
      </div>
      <div class="row" style='margin-top:10px'>
        <div class="col-xs-4 col-sm-offset-8 text-right">
          <button type="button" class="btn btn-sm btn-success save">Submit</button>
        </div>
      </div>
  </form>
</script>

<script type='text/template' id='contact-item'>
  <strong> <%= lastname %> </strong> <%= firstname %> - <small class='phone'> <%= phone %> </small>
  <div class="pull-right">
    <i class='fa fa-times remove'></i>
    <i class='fa fa-edit edit'></i>
  </div>
</script>

<script type='text/template' id='contact-detail'>
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="inputFirstname" class="col-sm-2 control-label">Firstname</label>
      <div class="col-sm-10">
        <input type="text" name="firstname" id="inputFirstname" class="form-control" value="<%= firstname %>" >
      </div>
    </div>
    <div class="form-group">
      <label for="inputLastname" class="col-sm-2 control-label">Lastname</label>
      <div class="col-sm-10">
        <input type="text" name="lastname" id="inputLastname" class="form-control" value="<%= lastname %>" >
      </div>
    </div>
    <div class="form-group">
      <label for="inputPhone" class="col-sm-2 control-label">Phone</label>
      <div class="col-sm-10">
        <input type="text" name="phone" id="inputPhone" class="form-control" value="<%= phone %>" >
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="button" class="btn btn-default back">Back</button>
        <button type="submit" class="btn btn-success">Edit</button>
        <button type="button" class="btn btn-danger btn-xs pull-right remove">Remove</button>
      </div>
    </div>
  </form>
</script>




<script src="http://code.jquery.com/jquery.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/backbone/backbone.js"></script>
<script src="bower_components/backbone.localStorage/backbone.localStorage-min.js"></script>

<!-- backbone app's files -->
<script src="javascripts/views/add_contact.js"></script>

<script src="javascripts/models/contact.js"></script>
<script src="javascripts/views/contact_item.js"></script>
<script src="javascripts/views/contact_detail.js"></script>

<script src="javascripts/collections/contacts.js"></script>
<script src="javascripts/views/contact_list.js"></script>

<script src="javascripts/views/contact_list_container.js"></script>

<script src="javascripts/main.js"></script>



</html>